[logging]

[libdefaults]
 dns_lookup_kdc = true
 dns_lookup_realm = false
 ticket_lifetime = 24h
 renew_lifetime = 7d
 forwardable = true
 rdns = false
 default_realm = {{ samba_realm | upper }}

[realms]
{{ samba_realm | upper }} = {
  default_domain = {{ samba_realm | lower }}
}

[domain_realm]
{{ samba_realm | lower }} = {{ samba_realm | upper }}
