options {
		version "unknown";
		directory "/etc/bind/zone";
		pid-file "";
		dump-file "/var/run/named_dump.db";
		statistics-file "/var/run/named.stats";
		recursing-file "/var/run/recursing";

		tkey-gssapi-keytab "/var/lib/samba/bind-dns/dns.keytab";

		forwarders { {{ samba_dns_forward }}; };
		allow-query { localnets; {{ samba_network }}; };
		allow-recursion { localnets; {{ samba_network }}; };

		max-cache-ttl 86400;
};

logging {
		category lame-servers {null;};
};
